/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b191e;
    color: #ffffff;
    line-height: 1.6;
}

/* Header and Navigation */
header {
    background-color: #e09215d8;
    color: #333;
    margin: 20px 20px 20px ;
    border-radius: 25px;
    height: 100px;
}
#name{
    padding-top: 20px;
    text-align: justify;
    padding-left: 43%;
}
#logo{
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100px;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

/* Task Form Section */
#taskFormSection {
    margin-bottom: 30px;
    background-color: #e09215d8;
    border-radius: 15px;
    width: 60%;
    padding: 10px 10px 15px 10px;
    margin-left: 20%;
    margin-bottom: 60px;
    color: #0b0a0a;
}

#taskFormSection h2 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    color: #333;
}
#taskFormSection input {
    background-color:#ebad4bd8 ;
}

#taskFormSection select {
    background-color: #ebad4bd8;
}
#taskFormSection option{
    background-color: #f9cb82d8;
}
#taskFormElement label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#taskFormElement input[type="text"],
#taskFormElement input[type="date"],
#taskFormElement select {
    width: calc(100% - 24px);
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#taskFormElement button {
    padding: 10px 20px;
    background-color: #e09215d8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 30%; /* Full-width button */
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#taskFormElement button:hover {
    background-color: #ebad4bd8;
}

/* Filter Section */
#filterSection {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e09215d8;
    padding: 20px;
    border-radius: 25px;
}

#filterSection label {
    font-weight: bold;
    margin-right: 10px;
}

#filterSection select,
#filterSection input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    #filterSection {
        flex-direction: column;
        align-items: flex-start;
    }
    #filterSection label,
    #filterSection select,
    #filterSection input[type="date"] {
        margin-bottom: 10px;
    }
}

/* Task List Section */
#taskList {
    margin-top: 20px;
    color: #333;
}
#taskList h2{
    color: white;
}
#taskList ul {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e09215d8;
    border-radius: 15px;
}

#taskList li .priority {
    font-weight: bold;
    margin-left: 10px;
}

#taskList li .date {
    margin-left: 10px;
    font-style: italic;
}

#taskList li .category {
    margin-left: 10px;
    font-style: italic;
    color: #333; /* Gray color for category text */
}

/* Styles for Edit and Delete buttons */
#taskList li button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#taskList li button:hover {
    background-color: #ebad4bd8;
}

.priority {
    font-weight: bold;
}

