/* connect-styles.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b191e;
    color: #333;
    line-height: 1.6;
}
#logo{
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100px;
}
header {
    background-color: #e09215d8;
    color: #333;
    margin: 20px 20px 20px ;
    border-radius: 25px;
    height: 100px;
}
#title{
    margin-left: 35%;
    padding-top: 20px;
}

#email{
    width:70% ;
}
#signupEmail{
    width:70% ;
}
#password{
    width:70% ;
}
#signupPassword{
    width:70% ;
}
/* Main Section */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    border-radius: 15px;
}
form input{
    background-color: #ebad4bd8;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 20px;
}
form input[type="text"],
form input[type="password"],
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
}

form button {
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ebad4bd8;
}

p {
    margin-bottom: 10px;
}

#login{
    background-color: #e09215d8;
    border-radius: 25px;
    color: #333;
    width: 70%;
    padding-bottom: 20px;
    margin-left: 14%;
}
#signupForm{
    background-color: #e09215d8;
    border-radius: 25px;
    color: #333;
    width: 70%;
    padding-bottom: 20px;
    margin-left: 14%;
}
